{% load humanize %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" viewport="width=device-width, initial-scale=1">
		<title>poll</title>
		{% include 'navbar.html' %}
	</head>
	
	<style>
		table{
			border: 1px solid black;		
		}
		
	</style>
	<body>
		<div class="container font-arial">
			<!-- messages -->
			{% include 'messages.html' %}
			<h1>Polls</h1>
			<hr>
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<!-- search bar -->
					<form class=" col-md-12 col-sm-12" role="search" action="{% url 'listPolls' %}" method="POST">
						{% csrf_token %}
						<div class="d-flex">
						<input class="form-control me-2" type="search" placeholder="Search for polls" aria-label="Search" name="search" value="{{query|default_if_none:''}}">
						{% if request.user.is_authenticated %}
							<div class="form-control form-switch">
								<input class="form-check-input" type="checkbox" role="switch" id="made_by_me_check" name="made_by_me" {% if made_by_me %} checked {% endif %}>
								<label class="form-check-label" for="flexSwitchCheckDefault">Show polls made by me</label>
							</div>
						{% endif %}
						<button class="btn btn-outline-success" type="submit"><span><i class="bi bi-search"></i></span></button>
						</div>						
					</form>
				</div>				
			</div>
			<hr>
			<div class="card-wrapper">
				{% if polls %}
					{% for poll in polls %}
						<div class="card col-md-4 col-sm-12 card-style" onmouseover="highlight(this)" onmouseout="unhighlight(this)">
							<div class="card-body">
								<h5 class="card-title">{{poll.poll__question}}</h5>
								<p class="card-text">
									Posted by {{poll.poll__created_by__username}} on
									<span class="time">
										{{ poll.poll__pub_date| date:"Y-m-d H:i" }}
									</span>, till
									<span class="time">
										{{ poll.poll__poll_end|date:"Y-m-d H:i" }}
									</span>
								</p>
								<p class="card-text">Total votes: {{poll.c}}</p>
								<hr>
								<div class="btn-group btn-grp-style">
									<a class="btn btn-primary btn-sm" href="{% url 'displayPoll' poll.poll__id %}">
										<!-- eye icon -->
										<i class="bi bi-eye"></i>
										View Poll
									</a>
									{% if request.user.is_authenticated %}
										{% if poll.poll__created_by__username == request.user.username %}
											<a class="btn btn-danger btn-sm" href="{% url 'deletePoll' poll.poll__id %}">
												<!-- trash icon -->
												<i class="bi bi-trash"></i>
												Delete
											</a>
										{% endif %}
									{% endif %}									
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<p>No polls Found</p>
				{% endif %}
			</div>
			<hr>
			<table class="table">
				<tr class="table-dark">
					<th>Question</th>
					<th>Posted on</th>
					<th>Ends on</th>
					<th>Posted by</th>
					<th>Votes Cast till now</th>
					<th></th>
				</tr>
				
				{% if polls %}
					{% for poll in polls %}
						<tr>
							<td>
								{{poll.poll__question}}
							</td>
							<td class="time">
								{{ poll.poll__pub_date| date:"Y-m-d H:i" }}
							</td>
							<td class="time">
								{{ poll.poll__poll_end|date:"Y-m-d H:i" }}
							</td>
							<td>								
								{% if poll.poll__is_anonymous %}
									Anonymous {% if request.user.is_authenticated %} {% if poll.poll__created_by__username == request.user.username %}({{ poll.poll__created_by__username }})[You] {% endif %} {% endif %}
								{% else %}
									{{ poll.poll__created_by__username }}
									{% if request.user.is_authenticated %}
										{% if poll.poll__created_by__username == request.user.username %}
											[You]
										{% endif %}
									{% endif %}
								{% endif %}
							</td>
							<td>
								{{poll.c}}
							</td>
							<td>
								<a class="btn btn-primary btn-sm" href="{% url 'displayPoll' poll.poll__id %}">
									<!-- eye icon -->
									<i class="bi bi-eye"></i>
									View Poll
								</a>
								<!-- delete poll -->
								{% if request.user.is_authenticated %}
									{% if poll.poll__created_by__username == request.user.username %}
										<a class="btn btn-danger btn-sm" href="{% url 'deletePoll' poll.poll__id %}">
											<!-- trash icon -->
											<i class="bi bi-trash"></i>
											Delete
										</a>
									{% endif %}
								{% endif %}
							</td>
						</tr>
					{% endfor %}
					<div>
						
					</div>
				{% else %}
					<p>No polls found in database.</p>
				{% endif %}
				
			</table>
			{% if request.user.is_authenticated %}
				<div>
					Liking our polls and want opinions? dont miss out! <a href="{% url 'createPoll' %}">Create your own poll</a>
				</div>			
			{% endif %}			
		</div>
		<script src="https://momentjs.com/downloads/moment.min.js"></script>
		<script>
			time_cell=document.querySelectorAll('.time');
			for (i=0;i<time_cell.length;i++){
				let date = moment(time_cell[i].innerHTML, "YYYY-MM-DD HH:mm");
				time_cell[i].innerHTML=date.fromNow();				
			}

			function highlight(e){
				e.style.transition="0.1s all linear";
				e.style.transform="scale(0.98)";
			}

			function unhighlight(e){
				e.style.transform="scale(1)";
			}

		</script>		
	</body>
</html>