<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>poll</title>
		{% include 'navbar.html' %}
		<script src="{% static 'js/main.js' %}"></script>
	</head>
	<body>
		<div class="container">
			<h1>Login</h1>
			<div class="col-md-6">
				<form method="POST" action="{% url 'user_doLogin' %}">
					{% csrf_token %}
					<div class="mb-3">
						<label for="username" class="form-label">Username</label>
						<input type="text" class="form-control" name="username" id="username">
					</div>
					<div class="mb-3">
						<label for="password" class="form-label">Password</label>
						<input type="password" class="form-control" name="password" id="password">
					</div>					
					<button type="submit" class="btn btn-primary">Login</button>
				</form>
			</div>
		</div>
	</body>
</html>